/* Type your code here */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap');

* {
	padding: 0;
	margin: 0;

}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 10px;
	background-image: url("./assets/background-image1.png");
	background-repeat: no-repeat;
	background-position: bottom;
}



.logo {
	padding: 10px;
	margin-top: 50px;
	margin-right: 550px;
	display: flex;
	justify-content: right;
	align-self: flex-end;
	position: absolute;
	top: 0;
	right: 0;
}

#digu {
	font-weight: 600;
	font-size: 40px;
	top: 0;
	right: 0;
	font-family: 'Roboto', sans-serif;
	margin-top: 130px;
	margin-left: 30px;
	text-shadow: rgb(138, 134, 134) 0 3px 0;
}

#sub {
	padding: 10px;
	margin-left: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 500;
	right: 0;
}

.container {
	border: 2px solid green;
	height: 100%;
	width: 50%;
	padding: 10px;
	margin: 10px;
}

.score {
	text-align: right;

}


.item {
	height: 30px;
	width: 100%;
	margin: 5px;
	background: lightgrey;
	line-height: 50px;
	font-weight: 600;

}

.textcolor {
	color: skyblue;
}

.heading {
	font-size: 10px;
	font-weight: 300;
	padding: 5px;
}

#Grid {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 60%;
	margin-left: 30px;
	background-color: white;
}

#Grid td {
	border: 1px solid #ddd;
	padding: 10px;
	font-size: 15px;
	border-collapse: collapse;

}

#Grid th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: orangered;
	color: white;
	width: 50%;
	margin-left: 20px;
}

.center {
	text-align: center;
}

/* change the font family and spacing as per your project font */
.footer {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	position: relative;
	padding: 20px;
	margin-left: 30px;
	font-size: 18px;
	font-family: Nunito Sans;
	font-style: normal;

}